body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #d35400;
    color: white;
    padding: 20px;
    text-align: center;
}

#pesquisa {
    padding: 10px;
    width: 60%;
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.estrelas span {
    font-size: 25px;
    cursor: pointer;
    color: gold;
}

.btn {
    display: block;
    text-align: center;
    background: #27ae60;
    color: white;
    padding: 15px;
    margin: 20px;
    text-decoration: none;
}

